In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
matHealth = pd.read_csv('PAHealth_MaternalChildHealth_20221114.csv').iloc[:, 1:]
print(matHealth.shape)
matHealth.head()

(68, 49)

,County0,MICH-01_2011-2015,MICH-01_2012-2016,MICH-01_2013-2017,MICH-01_2014-2018,MICH-01_2015-2019,MICH-01_MetGoal,MICH-02_2011-2015,MICH-02_2012-2016,MICH-02_2013-2017,...,MICH-10_2013-2017,MICH-10_2014-2018,MICH-10_2015-2019,MICH-10_MetGoal,MICH-13_2011-2015,MICH-13_2012-2016,MICH-13_2013-2017,MICH-13_2014-2018,MICH-13_2015-2019,MICH-13_MetGoal
0,Pennsylvania,6.5,6.4,6.2,6.1,6.0,No,6.5,6.4,6.2,...,6.2,6.1,6.0,No,6.5,6.4,6.2,6.1,6.0,No
1,Adams,3.8,3.7,4.8,5.7,4.7,Yes,3.8,3.7,4.8,...,4.8,5.7,4.7,Yes,3.8,3.7,4.8,5.7,4.7,Yes
2,Allegheny,6.1,6.1,6.1,5.9,6.0,No,6.1,6.1,6.1,...,6.1,5.9,6.0,No,6.1,6.1,6.1,5.9,6.0,No
3,Armstrong,4.6,5.7,5.8,4.3,6.3,No,4.6,5.7,5.8,...,5.8,4.3,6.3,No,4.6,5.7,5.8,4.3,6.3,No
4,Beaver,7.2,6.8,6.6,6.4,7.2,No,7.2,6.8,6.6,...,6.6,6.4,7.2,No,7.2,6.8,6.6,6.4,7.2,No

In [19]:
goals_met = matHealth[[m for m in matHealth.columns if 'MetGoal' in m]].replace({'No':0, 'Yes':1})
goals_met['Total_MetGoals'] = goals_met.sum(axis=1)
goals_met.head()

,MICH-01_MetGoal,MICH-02_MetGoal,MICH-03_MetGoal,MICH-06_MetGoal,MICH-07_MetGoal,MICH-08_MetGoal,MICH-10_MetGoal,MICH-13_MetGoal,Total_MetGoals
0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,8
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0

In [20]:
goals_met['Total_MetGoals'].value_counts()

0                           38
8                           15
DSUDSUDSUDSUDSUDSUDSUDSU    15
Name: Total_MetGoals, dtype: int64

In [30]:
cols = ['County0']
cols.extend([m for m in matHealth.columns if '2019' in m])
cols

['County0',
 'MICH-01_2015-2019',
 'MICH-02_2015-2019',
 'MICH-03_2015-2019',
 'MICH-06_2015-2019',
 'MICH-07_2015-2019',
 'MICH-08_2015-2019',
 'MICH-10_2015-2019',
 'MICH-13_2015-2019']

In [32]:
outcomes = matHealth[cols]
outcomes['MetGoals_Reached'] = matHealth['MICH-01_MetGoal'].replace({'Yes': 1, 'No': 0})
outcomes

C:\Users\cyn\AppData\Local\Temp\ipykernel_18440\2267875495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['MetGoals_Reached'] = matHealth['MICH-01_MetGoal'].replace({'Yes': 1, 'No': 0})

,County0,MICH-01_2015-2019,MICH-02_2015-2019,MICH-03_2015-2019,MICH-06_2015-2019,MICH-07_2015-2019,MICH-08_2015-2019,MICH-10_2015-2019,MICH-13_2015-2019,MetGoals_Reached
0,Pennsylvania,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,0
1,Adams,4.7,4.7,4.7,4.7,4.7,4.7,4.7,4.7,1
2,Allegheny,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,0
3,Armstrong,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,0
4,Beaver,7.2,7.2,7.2,7.2,7.2,7.2,7.2,7.2,0
...,...,...,...,...,...,...,...,...,...,...
63,Washington,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1
64,Wayne,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU
65,Westmoreland,4.8,4.8,4.8,4.8,4.8,4.8,4.8,4.8,1
66,Wyoming,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU
67,York,5.4,5.4,5.4,5.4,5.4,5.4,5.4,5.4,0